<div class="container">
  <div class="row">
    <h1 class="col-md-11 col-md-offset-1">Dating Site for gamers <small>by gamers</small></h1>
    <h4 class="col-md-11 col-md-offset-1">Step 3.</h4>
    <div class="col-md-8 col-md-offset-1">
       <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">Birthday</h1>
        </div>
        <div class="panel-body">
          Now please talk little bit more of your:
          <input class="help-block" type="date"/>
        </div>
      </div> 
      <a class="btn btn-info btn-block" href="#/interest" role="button">next</a>
    </div>
  </div>
</div>