<div id='main' class='container' ng-controller='chatController'>
	<!--Header-->
	<div class='row text-right'>
		<a href="#/main">Back to Main</a> |
		<a href="#/browse">Meet Other Compatibles</a> |
		<a href="#/logoff">Log Off</a>
	</div>

	<!--Chat Room-->
	<div class='row'>
		<div class='col-md-6 col-md-offset-1'>
			<h1>Chat with Hotties</h1>
			<div class='chat_history'>
				<p class='bubbles' ng-style="msg.user == user.username && {'text-align': 'right'} ||
              msg.user !== user.username && {'text-align': 'left'}" ng-repeat="msg in allMessages">
					{{ msg.user }}: {{ msg.message }}
				</p>
			</div>
			<div class='chats float-bottom'>
			<!--Chat Room - Text Area-->
				<input type="text" class="message_string col-md-10" ng-model="newMsg" placeholder="Write a message here..."/ >
				<button ng-click="addNew(newMsg)" class="btn btn-primary">Send</button>
			</div>
		</div>
		<div class='col-md-4'>
			<h2>Users Online</h2>
			<ul class="online list-unstyled">
				<li ng-repeat="people in userList">
					{{ people.name }}
				</li>
			</ul> 
		</div>
	</div>
</div>