<html>
<head>
	<title>Browsing for Your New Favorites</title>
</head>
<body>
	<div id='main' class='container' ng-controller='appController'>
	<!--Header-->
	<div class='row text-right'>
		<a href="#/main">Go Back to Your Dashboard</a> |
		<a href="#/browse">Meet Your Compatibles</a> |
		<a href="#/logoff">Log Off</a>
	</div>
	<!--Title Content-->
	<div class='row'>
		<h1>Chat Rooms</h1>
	</div>
	<!--Main Content-->
	<div class="row">
	Active Chat Log
	</div>
	</div><!--End of Row <div>-->
</div>
</body>
</html>