<!--Header-->
<div class='row text-right'>
	<a href="#/logoff">Log Off</a>
</div>
<!--Editing Form-->
<form class='row col-md-8 col-md-offset-2 main-bordered text-center' ng-controller='appController'>
<h1>Edit Your Information</h1>
<table class="table table-striped">
	<tr>
		<td>About Me: </td>
		<td><input type="text" class="about-me-input" value="{{ user.aboutme }}"/></td>
	</tr>
	<tr>
		<td>Gender: </td>
		<td><label>
            	<input type="radio" name="gender" value="male">
                Male
            </label>
			<label>
            	<input type="radio" name="gender" value="female">
                Female
            </label>
		</td>
	</tr>
	<tr>
		<td>Seeking: </td>
		<td><label>
            	<input type="radio" name="gender" value="male">
                Male
            </label>
            <label>
            	<input type="radio" name="gender" value="female">
                Female
            </label>
            <label>
            	<input type="radio" name="gender" value="cross">
                Anything! I just want to play!
            </label>
		</td>
	</tr>
	<tr>
		<td>Birthday: </td>
		<td><input class="help-block birthday-input" type="date" ng-model="bday"/></td>
	</tr>
	<tr>
		<td>Interests: </td>
		<td>
		<ul>
		<li ng-repeat="interest in user.interests">
			<span ng-bind="interest"></span>
		</li>
		</ul>
		</td>
	</tr>
</table>
<!--Submit-->
<a class="btn btn-primary">Complete</a>
<a href="#/main" class="btn btn-default">Go Back to Dashboard
	<span class="glyphicon glyphicon-home"></span>
</a>
</form>