<div class="container" ng-controller="registerCtrl">
  <div class="row">
    <h1 class="col-md-11 col-md-offset-1">Dating Site for gamers <small>by gamers</small></h1>
    <h4 class="col-md-11 col-md-offset-1">Step 4.</h4>
    <div class="col-md-12 background"></div>
    <div class="col-md-8 col-md-offset-1 forground">
       <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">Interest</h1>
        </div>
        <div class="panel-body">
          Now please select your interest(s):
          <div class="row">
            <div class="col-md-4">
              <a class="thumbnail singing">
                <img ng-src="./img/sonasinging.png" alt="Singing">
                <span class="glyphicon glyphicon-ok-circle"></span>Singing
              </a>

            </div>
            <div class="col-md-4">
              <a class="thumbnail crying">
                <img ng-src="./img/amumucrying.png" alt="Crying">
                <span class="glyphicon glyphicon-ok-circle"></span>Crying
              </a>
            </div>
            <div class="col-md-4">
              <a class="thumbnail biking">
                <img ng-src="./img/jinxBiking.png" alt="Biking">
                <span class="glyphicon glyphicon-ok-circle"></span>Biking
              </a>
            </div>
          </div>
          <!-- 2nd row of image buttons -->
          <div class="row">
            <div class="col-md-4 col">
              <a class="thumbnail assassine">
                <img ng-src="./img/assasinate.png" alt="Assasins">
                <span class="glyphicon glyphicon-ok-circle"></span>Assassinating
              </a>
            </div>
            <div class="col-md-4">
              <a class="thumbnail firefly">
                <img ng-src="./img/ahriCatchingFirefly.png" alt="Catching Firefly">
                <span class="glyphicon glyphicon-ok-circle"></span>Firefly
              </a>
            </div>
            <div class="col-md-4">
              <a class="thumbnail eating">
                <img ng-src="./img/chogathEating.png" alt="Eating">
                <span class="glyphicon glyphicon-ok-circle"></span>Eating
              </a>
            </div>
          </div>
        </div>
      </div> 
      <a class="btn btn-info btn-block" role="button" ng-click="addInterests()">next</a>
    </div>
  </div>
</div>