<div class="container" ng-controller='appController'>
  <div class="row">
    <h1 class="col-md-11 col-md-offset-1">Dating Site for gamers <small>by gamers</small></h1>
    <div class="col-md-8 col-md-offset-1">
       <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">Log in</h1>
        </div>
      <div class="panel-body">
          Please input your information to log in:
          <ul ui-if="!!login.errors.length">
            <li ng-repeat="error in login.errors" ng-bind="error.msg"></li>
          </ul>
          <div class="form-group">
            <label>User Name</label>
            <form name="usernameForm">
              <input type="text" name="username" ng-model="login.username" class="form-control" placeholder="Enter User Name" ng-invalid="emptyUser" />
            </form>
          </div>
          <div class="form-group">
            <label>Password</label>
            <form name="passwordForm">
              <input type="password" name="password" ng-model="login.password" class="form-control" placeholder="Password" ng-invalid="emptyPW" />
            </form>
          </div>
        </div>
        </form>
      </div> 
      <button class="btn btn-info btn-block" ng-click="loginClicked()">Log in</button>
    </div>
  </div>
</div>