<div class="container">
  <div class="row">
    <h1 class="col-md-11 col-md-offset-1">Dating Site for gamers <small>by gamers</small></h1>
    <h4 class="col-md-11 col-md-offset-1">Step 5.</h4>
    <div class="col-md-12 background"></div>
    <div class="col-md-8 col-md-offset-1 forground">
       <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">Register</h1>
        </div>
      <div class="panel-body">
          Finally!! Go ahead and register with us:
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" placeholder="Enter User Name">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password">
          </div>
        </div>
      </div> 
      <a class="btn btn-info btn-block" href="#/login" role="button">Submit</a>
    </div>
  </div>
</div>