<div class="container" ng-controller="registerCtrl">
    <div class="row">
      <h1 class="col-md-11 col-md-offset-1">Dating Site for gamers <small>by gamers</small></h1>
      <h4 class="col-md-11 col-md-offset-1">Step 2.</h4>
      <div class="col-md-12 background"></div>
      <div class="col-md-8 col-md-offset-1 forground">
         <div class="panel panel-info">
          <div class="panel-heading">
            <h1 class="panel-title">Seeking</h1>
          </div>
          <div class="panel-body">
            Please specify who are you looking for:
            <div class="radio">
              <label>
                <input type="radio" name="gender" value="male">
                male
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="gender" value="female">
                female
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="gender" value="cross">
                doesn't matter
              </label>
            </div>
          </div>
        </div> 
        <a class="btn btn-info btn-block" role="button" ng-click="addSeeking()">next</a>
      </div>
    </div>
</div>