/* BEGIN CSS RESETS */
html {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 1em;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END GLOBAL RESETS */
/* Begin GRID SYSTEM */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
	.row {
		clear: both;
		display: block;
	  margin-right: -15px;
	  margin-left: -15px;
	}
	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	    float: left;
	}	/* float all columns left */
		.onerow { display: block; }
		.col1 { width: 8.33333333%; }
		.col2 { width: 16.66666667%; }
		.col3 { width: 25%; }
		.col4 { width: 33.33333333%; }
		.col5 { width: 41.66666667%; }
		.col6 { width: 50%; }
		.col7 { width: 58.33333333%; }
		.col8 { width: 66.66666667%; }
		.col9 { width: 75%; }
		.col10 { width: 83.33333333%; }
		.col11 { width: 91.66666667%; }
		.col12 { width: 100%; }
		.col1-offset { margin-left: 8.33333333%; }
		.col2-offset { margin-left: 16.66666667%; }
		.col3-offset { margin-left: 25%; }
		.col4-offset { margin-left: 33.33333333%; }
		.col5-offset { margin-left: 41.66666667%; }
		.col6-offset { margin-left: 50%; }
		.col7-offset { margin-left: 58.33333333%; }
		.col8-offset { margin-left: 66.66666667%; }
		.col9-offset { margin-left: 75%; }
		.col10-offset { margin-left: 83.33333333%; }
		.col11-offset { margin-left: 91.66666667%; }
		.col12-offset { margin-left: 100%; }
/* End GRID System */
/* General fixes/adjustments */
table {
	margin-top: 2em;
	margin-bottom: 2em;
/*	height: 100%;
	width: 100%;*/
}
	table th {
	  	padding-left: .2em;
	  	text-align: left;
		font-size: 1em;
		background-color: RGB(240, 240, 240);
		border: 1px solid RGB(181, 181, 181);
		border-right: 1px solid RGB(181, 181, 181);
	}
	table td {
		padding-left: 1.5em;
		border-right: .1em solid RGB(240, 240, 240);
	}
	table tr:nth-child(2n+1){
		background-color: RGB(245, 245, 245);
	}
	thead tr:first-child{
		background-color: RGB(137, 138, 138);
	}
	.scoot {
		display: inline-block;
	}
	img { /*scale image to div size */
		max-width:100%;
		max-height:100%;
	}
	.img { /* put img in img container and set it to the center */
		text-align: center;
		vertical-align: middle;
	}
	.centered {
		text-align: center;
	}
	.margin-top{
		margin-top: 1em;
	}
	.margin-bottom{
		margin-bottom: 1em;
	}
	button {
		background-color: RGB(140, 118, 156);
		padding: 1em;
		border: 1px solid black;
		border-radius: 1em;
		margin: 0px auto;
	}
	.createCustomer {
		width: 50%;
		margin: 0px auto;
	}
	.listCustomers {
		width: 50%;
		margin: 0px auto;
	}
	h1 {
		margin-top: .5em;
		margin-bottom: .5em;
	}
	label {
		padding-left: 1em;
		width: 50%;
		border: 1px solid gray;
		border-radius: 1em;
	}
	input {
		padding-left: 1em;
	}