.alert-default {
	background-color: whitesmoke;
	border-radius: 5px;
	border-color: gainsboro;
	color: grey;
}
.img-icon {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.logo {
	margin-top: 1em;
	vertical-align: top;
	display: inline-block;
}
.title {
	display: inline-block;
}
.ng-invalid * {
	border: 1px solid #FA787E;
}
.browse-img-container {
	height: 20em;
	width: 100%;
}
.browse-img {
	max-width: 100%; 
	max-height: 100%;
}
.browse-stats {
	height: 10em;
	overflow: scroll;
}
.browse-div {
   float: none;
   display: inline-block;
   height: 450px;
}