.alert-default {
	background-color: whitesmoke;
	border-radius: 5px;
	border-color: gainsboro;
	color: grey;
}
.img-icon {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.logo {
	margin-top: 1em;
	vertical-align: top;
	display: inline-block;
}
.title {
	display: inline-block;
}
.ng-invalid * {
	border: 1px solid #FA787E;
}

div.background {
	height: 500px;
	top: 190px;
	left: 0px;
	background: url('../img/lolbackground.jpg') center no-repeat;
	background-size: cover;
	position: absolute;
	opacity: .5;
}

div.forground {
	margin-top: 80px;
}

a.thumbnail {
	text-decoration: none;
}

span.glyphicon {
	margin-right: 5%;
	color: lightgray;
}

.browse-img-container {
	height: 20em;
	width: 100%;
}
.browse-img {
	max-width: 100%; 
	max-height: 100%;
}
.browse-stats {
	height: 10em;
	overflow: scroll;
}
.browse-div {
   float: none;
   display: inline-block;
   height: 450px;
}