.alert-default {
	background-color: whitesmoke;
	border-radius: 5px;
	border-color: gainsboro;
	color: grey;
}
/* index.ejs ---> */
.img-icon {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.logo {
	margin-top: 1em;
	vertical-align: top;
	display: inline-block;
}
.title {
	display: inline-block;
}
/* <--- index.ejs */

/* login.html validation */
.ng-invalid * {
	border: 1px solid #FA787E;
}

/* initial registration styling ---> */
div.background {
	height: 450px;
	top: 190px;
	left: 0px;
	background: url('../img/lolbackground.jpg') center no-repeat;
	background-size: cover;
	position: absolute;
	opacity: .5;
}

div.forground {
	margin-top: 80px;
}

a.thumbnail {
	text-decoration: none;
}

span.glyphicon {
	margin-right: 5%;
	color: lightgray;
}
/* <--- initial registration styling */

span.green {
	color: #32CD32;
}


/* browse.html ---> */
.browse-img-container {
	height: 20em;
	width: 100%;
}
.browse-img {
	display: block;
	margin: auto;
	max-width: 100%; 
	max-height: 100%;
}
.browse-stats {
	height: 10em;
	overflow: scroll;
	text-align: center;
}
.browse-div {
   float: none;
   display: inline-block;
   height: 450px;
}
/* <--- browse.html */

/* main.html ---> */
.jumbotron{
	background-image: url('./img/sonasinging.png');
}
.padding-reset dt {
	width: 5em;
}
.dl-horizontal dd {
	margin-left: 100px;
}
.main-bordered {
	padding: 1em;
	border: 1px solid RGB(51, 73, 86);
	border-radius: 1em;
	height: auto;
}
.main-img-container {
	max-height: 150px;
	max-width: 100%;
}
	.main-img {
		text-align: center;
	}
.main-stats {
	height: 140px;
	overflow: scroll;
	text-align: center;
}
.main-div {
   float: none;
   display: inline-block;
   height: 230px;
}
.inline-block {
	display: inline-block;
}
.image-container {
	max-height: 300px;
	width: 100%;
}
.img-img {
	display: block;
	margin: auto;
	max-width: 100%; 
	max-height: 100%;
}
.repeat {
	background-color:; RGB(216, 216, 216);
}
/* <--- main.html */

/* chat.html ---> */
.chat_history {
	height: 500px;
	border: 1px solid RGB(51, 73, 86);
	border-radius: 2em;
}
.chat_history {
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	overflow: scroll;
	font-size: 1.5em;
	margin-bottom: 1em;
	background-color: RGB(230, 230, 230);
}
.chats {
	padding-left: 3em;
}
.online {
	font-size: 1em;
	padding-left: 2em;
	border: 1px solid RGB(137, 138, 138);	
	background-color: RGB(245, 245, 245);
}
.bubbles {
	display: block;
	border: 1px solid RGB(208, 208, 208);
	padding: .3em;
	background-color: RGB(245, 245, 245);
	border-radius: 1em;
}

/* <--- chat.html */

/* hotty.html ---> */
div.thisIsImage {
	border: 1px solid gray;
	border-radius: 10px;
}
/* <--hotty.html */

/* <-- MODAL  */
input[type="text"] {
	width: 90%;
}

div.space {
	margin: 15px 0;
}